.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(50deg, #f06, gold 40%);
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #303030;
}
